APP_PORT=8080

DATABASE_URL=postgres://demo:demo@localhost:5432/demo?sslmode=disable

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566

SNS_PRODUCT_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:product-events
SQS_PRODUCT_CREATED_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/product-created-queue

CATALOG_GATEWAY_BASE_URL=http://localhost:8081
